{% extends "base.html" %}

{% load static %}
{% load track_tags %}

{% block title %}
    {{ track.title }} | Soundclone
{% endblock %}

{% block body-id %}page--track-detail{% endblock %}

{% block content %}
<body>
    <div class="track-list--container">
            <ul class="track-list">
                    <li class="track-list--item">
                        <div class="track-body">
                            <a class="track-body--link" href="{% url 'track-detail' track.pk %}">
                                <div class="track-artwork--space">
                                        <div class="track--artwork" style="background-image: url('/media/{{ track.artwork }}')">
                                        </div>
                                </div>
                                <div class="track-info--space">
                                        <div class="track-info--artist">
                                            {{ track.artist }}
                                        </div>
                                        <div class="track-info--title">
                                            {{ track.title }}
                                        </div>
                                        <div class="track-info--likes">
                                            {{ track.like_set.count }} Likes
                                        </div>
                                </div>
                            </a>
                        </div>

                        <div class="track-function">
                            <div class="track-like-unlike">
                                {% if request.user.is_authenticated and track|is_liked_by:request.user %}
                                <form method="POST" action="/tracks/{{ track.pk }}/unlike">
                                    {% csrf_token %}
                                    <input type="submit" value="Unlike"></input>
                                </form>
                                {% else %}
                                <form method="POST" action="/tracks/{{ track.pk }}/like">
                                    {% csrf_token %}
                                    <input type="submit" value="Like"></input>
                                </form>
                                {% endif %}
                            </div>
                            <div class="track-audio">
                                <audio class="track-audio--sound" src="{{ track.file.url }}" autoplay type="audio/mp3" controls>
                                    Your browser does not support the <code>audio</code> element.
                                </audio>
                            </div>
                        </div>

                        <div class="track-comment">
                            <ul>
                                {% for comment in comments %}
                                    <li>{{ comment.body }}</li>
                                {% endfor %}
                            </ul>
                            <form method="POST" action="{% url 'comment-create' track.pk %}">
                                {% csrf_token %}
                                {{ form.errors }}
                                {{ form.as_p }}
                                <input type="submit"></input>
                            </form>

                            <div class="track--upload">
                                <a class="track-upload--link" href="{% url 'track-detail' track.pk %}">Upload</a>
                            </div>

                        </div>
                    </li>
            </ul>
        </div>

    <!-- TODO: make this work -->
    {# if track.is_liked_by current_user #}
    {# else #}
    {# end #}

    
</body>
{% endblock %}